<div class="login-container">

  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Welcome to Upflow</mat-card-title>
      <mat-card-subtitle>Please sign in to continue</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form class="login-form">

        <mat-form-field appearance="outline">

          <mat-label>E-mail</mat-label>
          <input matInput type="email" placeholder="you@company.com">

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>

      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" class="login-button">Sign In</button>
    </mat-card-actions>

  </mat-card>

</div>